# Python / Extensions etc.
*~
*.mo
*.so
*.pyc
*.pyo
*.egg
*.egg-info
*.sqlite
*.bak

# Latex
*.dvi
*.pdf
*.log
*.aux
*.out
*.snm
*.nav
*.toc

# Kate
*.kate-swp

# Sublime Text Editor
*.sublime*

# sphinx
#docs/Makefile
#docs/make.bat
docs/build/

# ipython
.ipynb_checkpoints
